*{
	margin: 0;
	padding: 0;
	font-style: normal;
  font-weight: normal;
}
ul,li{
	list-style: none;
}
$width:143px;
$hei:122px;
.bigbox{
	width: 320px;
	height: 504px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	.beijing{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.mid-nr{
		width: 312px;
		height: 501px;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.mid-bj{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.kuang{
			width: 249px;
			height: 414px;
			background: #bf0a02;
			position: relative;
			z-index: 10;
			.sz-bjk{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
			.xx{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
			.text{
				width: 100%;
				height: 16px;
				color: rgb(255, 199, 134);
				font-size: 14px;
				font-family: FZXKJW_1712967488;
				text-align: center;
				line-height: 16px;
				padding-top: 10px;
			}
			.text1{
				width: 125px;
				height: 48px;
				margin-top: 20px;
				margin-left: 25px;
				span{
					width: 125px;
					height: 24px;
					color: rgb(255, 199, 134);
					font-size: 18px;
					font-family: FZXKJW_1712967488;
					text-align: center;
					text-decoration: none;
					line-height: 24px;
				}
				.chun{
					padding-left: 5px;
				}
			}
			.five-box{
				width: 25px;
				height: 158px;
				margin-left: 70px;
				margin-top: 5px;
				position: relative;
				img{
					width: 100%;
					height: 100%;
				}
				p{
					width: 18px;
					height: 110px;
					color: rgb(255, 199, 134);
					font-size: 16px;
					font-family: FZXKJW_1712967488;
					text-align: center;
					line-height: 22px;
					position: absolute;
					top: 24px;
					left: 3.5px;
					
				}
			}
			.yuanxiao{
				width: 253px;
				height: 253px;
				position: absolute;
				bottom: -45px;
				left: -35px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.naoyx{
				width: $width;
				height: 366px;
				position: absolute;
				right: -25px;
				top: 20px;
				img{
					width: $width;
					height: $hei;
				}
				.yuan{
					display: block;
					padding-left: 10px;
					margin-bottom: 15px;
				}
				.xiao{
					display: block;
					padding-left: 10px;
				}
			}
		}
	}
	.left-dl,.right-dl{
		width: 141px;
		height: 298px;
		position: absolute;
		z-index: 20;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.left-dl{
		top: -100px;
		left: -45px;
	}
	.right-dl{
		top: -130px;
		right: -40px;
	}
	.lbd{
		width: 8px;
		height: 96px;
		position: absolute;
		top: 204px;
		right: 5px;
		ul{
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			li{
				width: 8px;
				height: 8px;
				border-radius: 50px;
				background: rgba(255,255,255,0.5);
			}
			.active{
				border: 1px solid #fff;
				box-sizing: border-box;
				background: none;
			}
		}
	}
}
//2
.bigbox1{
	.mid-nr{
		.kuang{
			.yl-img{
				width: 100%;
				height: 44px;
				display: flex;
				justify-content: center;
				margin-top: 15px;
				position: relative;
				img{
					width: 43px;
					height: 43px;
				}
				.yl-text{
					width: 100%;
					height: 26px;
					position: absolute;
					top: 9px;
					left: 0px;
					color: rgb(255, 199, 134);
					font-size: 24px;
					font-family: FZXKJW_1712967488;
					line-height: 26px;
					text-align: center;
					span{
						padding-left: 6px;
						padding-right: 6px;
					}
				}
			}
			.text-cc{
				width: 203px;
				height: 242px;
				margin: 0 auto;
				margin-top: 20px;
				color: rgb(255, 199, 134);
				font-size: 14px;
				text-align: left;
				line-height: 22px;
			}
			.wan{
				width: 100%;
				height: 67px;
				display: flex;
				justify-content: center;
				margin-top: 15px;
				img{
					width: 99px;
					height: 67px;
				}
			}
		}
	}
}
//3
.bigbox2{
	.mid-nr{
		.kuang{
			.yl-img{
				width: 100%;
				height: 44px;
				display: flex;
				justify-content: center;
				margin-top: 15px;
				position: relative;
				img{
					width: 43px;
					height: 43px;
				}
				.yl-text{
					width: 100%;
					height: 26px;
					position: absolute;
					top: 9px;
					left: 0px;
					color: rgb(255, 199, 134);
					font-size: 24px;
					font-family: FZXKJW_1712967488;
					line-height: 26px;
					text-align: center;
					span{
						padding-left: 6px;
						padding-right: 6px;
					}
				}
			}
			.text-1{
				width: 100%;
				height: 20px;
				margin-top: 124px;
				color: rgb(255, 199, 134);
				font-size: 18px;
				text-align: center;
				line-height: 20px;
			}
			.text-2{
				width: 100%;
				height: 154px;
				margin-top: 20px;
				color: rgb(255, 199, 134);
				font-size: 14px;
				text-align: center;
				line-height: 22px;
			}
		}
	}
}
